h1 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: yellowgreen;
}

main {
    margin: 0 auto;
    width: 400px;
    display: flex;
    flex-direction: column;
    animation: slow-opacity;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

footer {
    text-align: center;
    margin-top: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: blue;
}

@keyframes slow-opacity {
    0%{opacity: 0.1;}
    12.5%{opacity: 0.5;}
    25%{opacity: 1;}
    37.5%{opacity: 0.5;}
    50%{opacity: 0.1;}
    62.5%{opacity: 0.6;}
    75%{opacity: 1;}
    87.5%{opacity: 0.5;}
    100%{opacity: 0.1;}

    
}