body {
    font-family: monospace;
}

h1 {
    text-align: center;
    font-weight: 800;
    text-decoration: underline;
}

main {
    display: grid;
    place-items: center;
    gap: 1rem;
}

img {
    width: 400px;
    height: 600px;
    border: 2px solid dodgerblue;
    margin: auto;
    filter: brightness(50%);
    cursor: pointer
}

img:hover {
    filter: brightness(100%);
}

footer {
    display: flex;
    gap: 1.2rem;
}


footer p {
    font-size: .8rem
}