
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital@1&family=Teko&display=swap');

a {
    font-family: 'Chakra Petch';
    color: #D62828;
}

p, li{
    font-family: 'Marck Script';
    font-size: 25px;
}

h1, h2 {
    font-family: 'Teko';
    color: #003049;

}

body {
    background: #EAE2B7;
}

li {
    color: #D62828;
}

