@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Teko&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yatra+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.hotel {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    width: 100%;
    height: 100%;
}

.content img {
    width: 100%;
    height: 100%;
}

.content img:hover {
    opacity: 0.8;
    transform: scale(1.1) rotate(2deg);
} ;
    

.sibebe {
    grid-column: 2 / 3;
    grid-row: 1/ 2;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: yellowgreen;
    grid-auto-flow: column;
  
}

.icons {
    display: grid;
    gap: 4rem;
    grid-template-columns: 1fr;    
    box-sizing: border-box;
    list-style: none;
    grid-auto-flow: column;
    justify-self: end;
    
}

.img {
    justify-self: center;
    
}
 

h1 {
    font-family: 'Orbitron';
}

span {
    font-family: 'Orbitron';
    font-weight: 100;
}



.home {
    background: rgba(90, 90, 90, .5);
}

.section {
    display: grid;
    grid-template-columns: 3;
    grid-template-rows: 2;
    gap: 5px;
    margin-top: 0;
    
    
}

.response {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.sidebar {
    margin: 0;
    padding: 0;
    display: grid;
    gap: 5px;
    background-color: #f1f1f1;
    height: 100%;
    overflow: auto;
  }
  
  /* Sidebar links */
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
  
  /* Active/current link */
  .sidebar a.active {
    background-color: #04AA6D;
    color: #0d1137;
  }

  .sidebar a, iframe {
    font-size: 20px;
    font-family: 'Orbitron';
  }
  
  
  /* Links on mouse-over */
  .sidebar a:hover:not(.active) {
    background-color: #e52165;
    color: #0d1137;
  }
  
  /* Page content. The value of the margin-left property should match the value of the sidebar's width property */
  .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    background: #001d4a;
    gap: 4px;
    padding: 4px;
   
  }

  .events {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  .weather {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
  }

  .adverts {
    grid-row: 2 / 3;
  }
    
  
 
.section h3 {
    justify-items: center;
}

.adverts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    margin-top: 5px;
    
}

.end {
    display: flex;
    justify-content: space-evenly;
}


.adverts section {
    background-color:  rgba(234, 226, 183, .5);;
    border: 1px solid gray;
    border-radius: 5px;
    margin-bottom: 5px;
    box-shadow: 3px 3px 3px gold;
    font-family: 'Yatra One';
    color: #003049;
}




.section section {
    background-color: rgba(234, 226, 183, .5);
    border: 1px solid grey;
    border-radius: 5px;
    box-shadow: 3px 3px 3px gold;
    font-family: 'Yatra One';
    color: #003049;
}
    



.join {
   margin-left: 50%;  
   background-color:#003049;
   border-radius: 3px;
   font-size: 30px;
   color: white;
   padding: 3px;
   font-family: 'Architects Daughter';
   margin-bottom: 10px;
   position: absolute;
   top: 250px;
}

.join:hover {
    color: yellowgreen;
    transform: scale(1.2);;
}

section h3 h4 {
    border-bottom: 1px solid #001d4a;
    text-align: center;
}



nav {
    display: flex;
    background: aqua;
    justify-content: center;
    justify-content: space-evenly;

    
}

nav a {
    
    text-decoration: none;
    font-family: 'Yatra One';
    
}

footer{
    background: yellowgreen;
    font-family: 'Architects Daughter';
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #001d4a;
    font-size: 20px;
}

footer, p, ul {
    display: flex;
    justify-content: center;
}

footer, p, ul, li {
    list-style-type: none;
    gap: 10px;
    
}

.end p {
    text-align: center;
}


.f_title, form {
    margin: 20px;
}

form {
    grid-column: 1 / 2;
}

.mainform {
    display: grid;
    grid-template-columns: 1fr 400px;
    grid-template-rows: 1fr;
}

.column {
    grid-column: 2 / 3;
    font-family: 'Yatra One';
    color: #e52165;
}


form fieldset {
    margin: 2rem 0;
    border: 1px solid blueviolet;
    border-radius: 10px;
    padding: .5rem 2%;
}

form legend {
    color: #445ba9;
    margin: 0 4rem;
    padding: 0 .5rem;
    font-family: 'Yatra One';
}

form label.top, form div {
    display: block;
    margin-top: 1rem;
    color: purple;
    font-size: 1rem;
    font-family: 'Teko';
}

form label.top input, form label.top select {
    --webkit--appearance: none;
    display: block;
    font-size: 1rem;
    border: 1px solid #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0, 0, 0, 0.1);
}

form label.sbs {
    display: block;
    padding: .75rem;
    color: #555;
    font-family: 'Teko';
}

form input.submit {
    border: none;
    background-color: #445ba9;
    color: yellowgreen;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}

form label.top input:required {
    border-left: blue solid 5px;
}

form label.top input:required:valid {
    border-left: yellowgreen solid 5px;
}
