@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Teko&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yatra+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.hotel {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    width: 100%;
    height: 100%;
}

.content img {
    width: 100%;
    height: 100%;
}

.content img:hover {
    opacity: 0.8;
    transform: scale(1.1) rotate(2deg);
} ;
    

.sibebe {
    grid-column: 2 / 3;
    grid-row: 1/ 2;
}
header {
    display: grid;
    grid-template-columns: auto 1fr 3fr;
    background: yellowgreen;
    grid-auto-flow: column;
  
}
 
header img {
    top: 10px;
    width: 50px;
    height: 50px;
    align-self: center;
}

h1 {
    font-family: 'Orbitron';
}

span {
    font-family: 'Orbitron';
    font-weight: 100;
}

.icons {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    list-style: none;
    
}

main {
    display: grid;
    grid-template-columns: 300px 1fr;
}


.sidebar {
    margin: 0;
    padding: 0;
    display: grid;
    gap: 5px;
    background-color: #f1f1f1;
    height: 100%;
    overflow: auto;
  }
  
  /* Sidebar links */
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
  
  /* Active/current link */
  .sidebar a.active {
    background-color: #04AA6D;
    color: #0d1137;
  }

  .sidebar a, iframe {
    font-size: 20px;
    font-family: 'Orbitron';
  }
  
  
  /* Links on mouse-over */
  .sidebar a:hover:not(.active) {
    background-color: #e52165;
    color: #0d1137;
  }
  
  /* Page content. The value of the margin-left property should match the value of the sidebar's width property */
  div.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    background: #001d4a;
    gap: 4px;
    padding: 4px;
    height: 1000px;
  }
  
  /* On screens that are less than 700px wide, make the sidebar into a topbar */
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  /* On screens that are less than 400px, display the bar vertically, instead of horizontally */
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }
.section {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 5px;
    
    
}

.section h3 {
    justify-items: center;
}

.adverts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    margin-top: 5px;
    
}

.end {
    display: flex;
    justify-content: space-evenly;
}


.adverts section {
    background-color:  rgba(234, 226, 183, .5);;
    border: 1px solid gray;
    border-radius: 5px;
    margin-bottom: 5px;
    box-shadow: 3px 3px 3px gold;
    font-family: 'Yatra One';
    color: #003049;
}




.section section {
    background-color: rgba(234, 226, 183, .5);
    border: 1px solid grey;
    border-radius: 5px;
    box-shadow: 3px 3px 3px gold;
    font-family: 'Yatra One';
    color: #003049;
}
    



.join {
   margin-left: 50%;  
   background-color:#003049;
   border-radius: 3px;
   font-size: 30px;
   color: white;
   padding: 3px;
   font-family: 'Architects Daughter';
   margin-bottom: 10px;
}

.img {
    justify-self: auto;
    transform: translateX(10px);
}

section h3 h4 {
    border-bottom: 1px solid #001d4a;
    text-align: center;
}



nav {
    display: flex;
    background: aqua;
    justify-content: center;
    justify-content: space-evenly;

    
}

nav a {
    
    text-decoration: none;
    font-family: 'Yatra One';
    
}

footer{
    background: yellowgreen;
    font-family: 'Architects Daughter';
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #001d4a;
    font-size: 20px;
}

footer, p, ul {
    display: flex;
    justify-content: center;
}

footer, p, ul, li {
    list-style-type: none;
    gap: 10px;
    
}

.end p {
    text-align: center;
}