
@media (max-width: 900px) {
    nav {
        display: flex;
        flex-direction: column;    
    }
    nav, a {
       align-items: center;
       flex: 1 1 100%;
    }
    footer, p, ul, li {
        flex-direction: column;
        align-items: center;
    }

    
    header {
        display: flex;
        flex-direction: column;
      
    }

    header p {
        text-align: center;
    }

    .section {
        grid-template-columns: 1fr;
    }

    .adverts {
        grid-template-columns: 1fr;
    }
    
    .menu {
        display: block;
        font-size: 2rem;
        font-weight:700;
        text-decoration: none;
        padding: .5rem .75rem;
        background-color: #eee;
        color: #000;
    }
    
    .menu::before {
        content: "≡";
    }
    
    .show a {
        display: block;
    }
    
    .menu.show::before {
        content: "X";
    }
    
   nav a {
    display: none;
   }
   .end {
    display: flex;
    flex-direction: column;
    text-align: center;
   }
   .response {
    grid-template-columns: 1fr;
   }

    .content  {
    grid-template-columns: 1fr;
    
   }

   .sidebar {
    justify-content: center;
    text-align: center;
   }

   .join {
    top: 700px;
   }

.sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {
      float: left;
    }

  div.content {
      margin-left: 0;
    }
    .sidebar a {
        text-align: center;
        float: none;
      }

    
  .column {
    display: none;
  }

  .mainform {
    grid-template-columns: 1fr;
  }

}

 
 

@media (min-width: 900px ) {
    
    nav a {
        display: block;
        flex: 1 1 100%;
        text-align: center;
        }

    .menu {
        display: none;
    }

    .img {
        padding-right: 200px;
    }
}
 /* On screens that are less than 700px wide, make the sidebar into a topbar */
/* @media (max-width: 700px) {
    

  
  /* On screens that are less than 400px, display the bar vertically, instead of horizontally *
  @media (max-width: 400px) {
    
